<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        <div class="container">
            {{> header}}
            <p>Some text here</p>
    
            {{> footer}}
        </div>    
    </body>
</html>